<h1>Show</h1>
<h2><%= @article.title %></h2>
  <p><%= @article.content %></p>
  <%= link_to "Delete",article_path(@article),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "articles", articles_path %>
  <%= link_to "update", edit_article_path %>
